Assets/_Project/Resources/*.mp4 filter=lfs diff=lfs merge=lfs -text
../Assets/_Project/Resources/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/audios/introductions/Audio_1.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/audios/introductions/Audio_2.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/audios/introductions/Audio_3.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/audios/introductions/Audio_4.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/audios/introductions/Audio_6.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/audios/introductions/Audio_7.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_Miejska_Zdjecie_1_1.Fontanna_Neptuna.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_Miejska_Zdjecie_2_1.Fontanna_Neptuna.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_Miejska_Zdjecie_3_1.Fontanna_Neptuna.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_Miejska_Zdjecie_4_1.Fontanna_Neptuna.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_miejska_zdjecie1_3.Arkady.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_Miejska_Zdjecie5_Kościol_Wszystkich_Swietych_2.Rzezba_Madonny.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_1_Fontanna_Neptuna.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_2_Rzezba_Madonny.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_3_Arkady.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_4_PiLASTERKI_DLA_18tki.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_6_Rzezba_kobiety_broniacej_Gliwic.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_7_Plebanska.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/previews/gliwice_rynek.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_1A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_1B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_2.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_3A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_3B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_3C.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_4A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_4B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_5A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_5B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_7A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/CWICZENIE_7B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF[[:space:]]-[[:space:]]Fallback.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Prefabs/UserInterface/Views/SettingsView[[:space:]]Variant.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_miejska_zdjęcieA_5.Galeria_sztuki.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_miejska_zdjęcieB_5.Galeria_sztuki.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_miejska_zdjęcieC_5Galeria_sztuki.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Gra_miejska_zdjęcieD_5_Galeria_sztuki.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_1A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_1B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_2.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_3A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_3B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_3C.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_4A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_4B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_5A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_5B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_7A.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/exercises/PUNKT_7B.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Prefabs/UserInterface/Panels/ListWithContents.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/game_images/Ikona_punktu_15.Biala_Brama.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/images/icons/gliwice-rynek-ikona.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Prefabs/UserInterface/Views/MainView[[:space:]]Variant.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Prefabs/UserInterface/Views/ProfileView[[:space:]]Variant.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/test/Test_1.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/test/Test_2.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/test/Test_3.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/test/Test_4.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/videos/test/Test_5.mp4 filter=lfs diff=lfs merge=lfs -text
